
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Add a Quiz</title>
</head>
<body>
  <app-logout></app-logout>
  <div>
    <h3 class="ml-5">Add A Quiz</h3>
    <div class = "newquiz">
      <form [formGroup]="quizForm" (ngSubmit)= "createQuiz()">
        <h4>Quiz Name</h4>
        <small class="text-danger mb-3 ml-1 row">{{quizErrors.quizName}}</small>
        <input formControlName="quizName" class="form-control" type='text' id="quizname" name='quizname'>
        <p></p>
        <button type="submit" class="form-group row btn btn-dark">Submit</button>
      </form>
    </div>
  </div>
</body>
</html>
