

.newquiz{
    display:inline-block;
    text-align: center;
    margin: 0px auto;
    margin-left: 40%;
}
.nav{
    display:inline-block;
    margin-left:10px;
    padding-left: 5px;
    text-align: center;
    align-content: center;
}