



<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <app-logout></app-logout>
  <div *ngIf="quiz" >
    <h1>{{quiz.name}}</h1>
    <div *ngFor="let question of quiz.questions" class = "question">
      <h3>{{question.text}}</h3>
      <div *ngFor="let answer of question.answers"><p>{{answer.text}}</p></div>
      <button type="submit" name="delete" value="delete"> delete</button>
    </div>
  </div>
  <app-addquestion></app-addquestion>
</body>
</html>
