



<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <app-logout></app-logout>
  <div *ngIf="quiz">
    <h3 class="ml-5">{{quiz.name}}</h3>
    <hr>
    <div class="card-deck">
      <div *ngFor="let question of quiz.questions" class="card">
        <div class="card-header">
          <h5>{{question.text}}</h5>
        </div>
        <div class="card-body">
            <div *ngFor="let answer of question.answers">
              <p>{{answer.text}}</p>
            </div>
        </div>
        <div class="card-footer d-flex justify-content-end">
            <button class="btn btn-secondary" (click)="onDelete()"> delete</button>
        </div>
      </div>
    </div>
  </div>
  <app-addquestion [quiz]="quiz"></app-addquestion>
</body>
</html>
