


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <nav class = "navbar">
      <h1>Hello {{User.name}}</h1>
      <div class= "nav">
        <button class = "nav" [routerLink]="['/dashboard']">Home</button>
        <button class = "nav" [routerLink]="['/newquiz']">Add a quiz</button>
        <button class = "nav" [routerLink]="['/']">Logout</button>
      </div>
  </nav>
  <h1 class="yourscore">Your Score</h1>
  <div class="scorecube">
    <h3 class = "lastscore">3 out of 4</h3>
  </div>
  <form action="/play/{{quizid}}" method="post">
    <div class="row">
        <button type="submit" class="form-group row btn btn-success">Save Score</button>
        <button type="submit" class="form-group row btn btn-success">Try Again</button>
    </div>
  </form>
</body>
</html>
