


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <app-logout></app-logout>
  <div class="d-flex justify-content-center">
    <h1>Your Score</h1>
  </div>
  <div class="d-flex justify-content-center">
    <div class="scorecube">
      <h3 class="mt-5 lastscore">{{score}} out of {{quiz.questions.length}}</h3>
    </div>
  </div>
  <!-- <h1 class="yourscore">Your Score</h1>
  <div class="scorecube">
    <h3 class="lastscore">{{score}} out of {{quiz.questions.length}}</h3>
  </div> -->
  <div class="col pr-5 mt-3 d-flex justify-content-end">
      <button class="form-group row btn btn-success">Save Score</button>
      <button class="ml-4 form-group row btn btn-success">Try Again</button>
  </div>
</body>
</html>
