


.scorecube{
    background-color: gray;
    display:inline-block;
    height: 150px;
    width: 250px;
    margin-left: 35%;
}
.yourscore{
    text-align: center;
}
.lastscore{
    text-align: center;
    margin-top:20%;
    font-size: 40px;
    color: black;
}
.nav{
    display:inline-block;
    margin-left:10px;
    padding-left: 5px;
    text-align: center;
    align-content: center;
}