


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <nav class = "navbar">
      <button [routerLink]="['/dashboard']">Home</button>
      <button [routerLink]="['/newquiz']">Add a quiz</button>
      <button [routerLink]="['/login-reg']">Logout</button>
  </nav>
  <h1 class="yourscore">Your Score</h1>
  <div class="scorecube">
    <h3 class = "lastscore">3 out of 4</h3>
  </div>
</body>
</html>
